/* reset */
html, body {
  margin: auto;
}

.swiper-slide {
  /* position: relative; */
  background: #1e1e1e;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
  position: absolute;
  top: 20%;
} 

/* including this for testing */
.swiper {
  background: maroon;
  /* temporary styling */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  list-style: none;
}